#esk-widget,
#esk-widget header,
#esk-main,
#esk-widget button,
#esk-widget footer,
#esk-widget footer .esk-footer-text
{
    border-width: .5mm;
    border-color: #62806a;
}

#esk-widget
{
    display: inline-block;
    border-style: none none solid solid;
}

#esk-widget header
{
    display:inline-block;
    margin: 0px;
    padding: 2mm 3mm;
    font-weight: bold;
    font-size: 1.5em;
    color: #62806a;
}

#esk-widget header,
#esk-widget footer .esk-footer-text
{
    background-color: #62806a;
    color: white;
    mix-blend-mode: multiply;
    opacity: .8;
}

#esk-main
{
    border-style: solid solid none none;
    padding: 0px 2mm;
}

#esk-main > *
{
    margin: 2mm auto;
}

#esk-main > :last-child
{
    margin-bottom: 0px;
}

#oa2status
{
    font-weight: bold;
    text-transform: uppercase;
}

#oa2status:empty::after
{
    content: "";
    animation: living-ellipsis 3s infinite;
}

@keyframes living-ellipsis
{
    0% { content: ""; }
    20% { content: "."; }
    40% { content: ".."; }
    60% { content: "..."; }
}

#esk-widget footer
{
    display: flex;
    align-items: flex-end;
    border-right-style: solid;
}

#esk-widget footer .esk-footer-buttons
{
    flex-grow: 1;
    padding: 2mm 2mm 1.5mm;
}

#esk-widget footer .esk-footer-buttons button
{
    height: 1.5em;
}

#esk-widget footer .esk-footer-text
{
    padding: 1mm 2mm .5mm;
}
